.main-page {
  flex-direction: column;
  background-color: #ffffff;
}
.refresh {
  flex-direction: column;
}
.list-content {
  flex-direction: column;
  flex: 1;
}
.list-item {
  flex-direction: column;
}
.common-container {
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
}
.common-item-lab-container {
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
.common-item-title {
  font-size: 38px;
  color: #1e252f;
}
.common-item-right-title {
  font-size: 29px;
  color: #939aa2;
}
.common-item-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.common-item-container-list {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.common-item-recommend-top-container {
  height: 212px;
}
.common-item-icon {
  width: 150px;
  height: 212px;
  border-radius: 6px;
}
.common-item-name {
  width: 400px;
  font-size: 33px;
  color: #1e252f;
  lines: 1;
  text-overflow: ellipsis;

}
.common-item-score {
  font-size: 33px;
  color: #f85836;

}
.common-item-top-right-container {
  flex: 1;
  margin-left: 32px;
  flex-direction: column;
}
.common-item-top-right-title-container {
  justify-content: space-between;
}
.common-item-brief {
  margin-top: 24px;
  lines: 2;
  font-size: 28px;
  text-overflow: ellipsis;
  color: #545c67;
}
.common-item-placeholder {
  flex: 1;
}
.common-item-bottom-container {
  justify-content: space-between;
}
.common-item-author {
  font-size: 22px;
  color: #939aa2;
}
.common-item-cateogry {
  font-size: 21px;
  color: #949ba5;
  background-color: #f1f1f6;
  border-radius: 17px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
.four-item-container {
  justify-content: space-between;
  margin-bottom: 50px;
}
.four-item-sub-container {
  width: 150px;
  flex-direction: column;
}
.four-item-name {
  margin-top: 22px;
  font-size: 28px;
  color: #1e252f;
  lines: 1;
  text-overflow: ellipsis;
}
.four-item-popularity {
  margin-top: 16px;
  font-size: 22px;
  color: #939aa2;
}


.list-item-banner {
  flex-direction: column;
}
.banner-ad-swiper , .banner-stack , .banner-image{
  height: 300px;
  width: 100%
}

.content-load {
  justify-content: center;
  align-items: flex-start;
  height: 150px;
  margin-bottom: 15px;
}
.bage-icon {
  width: 43px;
  height: 60px;
}
.book-teshu-biaoshi{
  width: 55px;
  height: 54px;
}

/* icon配置模块 */
.icon-div{
  height: 180px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-bottom-width: 15px;
  border-bottom-color: #f1f1f6;
}
.icon-item-div{
  height: 180px;
  flex-direction: column;
}
.icon-item-div-image{
  height: 70px;
  width: 70px;
  align-self: center;
  margin-top: 30px;
}
.icon-item-div-txt{
  height: 50px;
  width: 70px;
  align-self: center;
  font-size: 30px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

/* 主编力荐上方可编辑模块 */
.configurate-mode-div{
  width: 100%;
  flex-direction: column;
}

.mode-item-div-one{
  flex-direction: column;
  width: 100%;
  border-bottom-color: #f1f1f6;
  border-bottom-width:15px;
}
mode-one-div{
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.mode-one-div-countdowntime{
  margin-left:auto;
  margin-right: 30px;
  margin-top: 20px;
  text-align: right;
  font-size: 28px;
  color: #F85836;
}


.mode-item-div-two{
  flex-direction: column;
  width: 100%;
  border-bottom-color: #f1f1f6;
  border-bottom-width:15px;
}
.mode-two-div{
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}
.mode-two-div-item{
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  
}
.mode-two-div-image{
  height: 256px;
  width: 180px;
  border-radius: 6px;
}
.mode-two-div-title{
  width: 180px;
  margin-top: 10px;
  font-size: 26px;
  text-align: left;
  lines:1;
  text-overflow: ellipsis;
  color: black;
}
.mode-two-div-popTxt{
  width: 180px;
  margin-top: 10px;
  font-size: 20px;
  color: #939aa2;
  text-align: left;
  lines: 1;
  text-overflow: ellipsis;
}




.mode-item-div-three{
  width: 100%;
  flex-direction: column;
  border-bottom-color: #f1f1f6;
  border-bottom-width:15px;
}
.mode-three-div{
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  height: 210px;
}
.mode-three-image{
  width: 150px;
  height: 210px;
  border-radius: 6px;
}
.mode-three-bookinfo-div{
  margin-right: 20px;
  margin-left: 20px;
  height: 210px;
  flex-direction: column;
}
.mode-three-bookname{
  font-size: 35px;
  color: black;
  margin-top: 10px;
  text-align: left;
}
.mode-three-bookauthor{
  font-size: 20px;
  color: #949ba5;
  margin-top: 10px;
  text-align: left;
}
.mode-three-bookcate{
  width: 100px;
  font-size: 21px;
  color: #949ba5;
  background-color: #f1f1f6;
  border-radius: 17px;
  height: 35px;
  margin-top: auto;
  margin-bottom: 10px; 
  text-align: center;
}
.mode-three-book-score {
  flex-shrink: 0;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: auto;
  font-size: 33px;
  color: #f85836;
  text-align: right;
}
.mode-three-book-desc{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: left;
  color: #939aa2;
  lines:2;
  text-overflow: ellipsis;
}

.mode-item-div-four{
  flex-direction: column;
  border-bottom-color: #f1f1f6;
  border-bottom-width:15px;
}
.mode-four-image{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
}


.mode-item-div-five{
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  border-bottom-color: #f1f1f6;
  border-bottom-width:15px;
}
.mode-five-div{
  flex-direction: row;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  height: 80px;
}
.mode-five-div-author-image{
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  border-radius: 60px;
}
.mode-five-div-author-name{
  margin-left: 20px;
  font-size: 35px;
  color: black;
  lines:1;
  text-overflow: ellipsis;
}
.mode-five-div-fengeline{
  height: 40px;
  align-self: center;
  background-color: #D2D2D2;
  width: 2px;
  margin-left: 20px;
  margin-right: 20px;
}
.mode-five-div-author-desc{
  font-size: 25px;
  color: #949BA5;
  lines:1;
  text-overflow: ellipsis;
}

.mode-five-image{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}



.mode-item-div-six{
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  border-bottom-color: #f1f1f6;
  border-bottom-width:15px;
}
.mode-six-div{
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.mode-six-title{
  font-size: 33px;
  color: black;
  text-align: left;
  margin-top: 20px;
  lines:1;
  text-overflow: ellipsis;
}
.mode-six-image{
  margin-top: 20px;
  width: 324px;
  height: 160px;
  border-radius: 6px;
}

.mode-item-div-seven{
  flex-direction: row;
  height: 300px;
  border-bottom-color: #f1f1f6;
  border-bottom-width:15px;
}
.mode-seven-textdiv{
  flex-direction: column;
  width: 400px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mode-seven-textdiv-title{
  width: 380px;
  margin-left: 20px;
  font-size: 33px;
  color: black;
  lines:1;
  text-align: left;
  text-overflow: ellipsis;
}
.mode-seven-textdiv-desc{
  width: 380px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 33px;
  color: #949BA5;
  text-align: left;
  text-overflow: ellipsis;
}
.mode-seven-image{
  margin-top: 20px;
  margin-left: 30px;
  width: 240px;
  height: 240px;
  border-radius: 6px;
}


.mode-common-title{
  font-size: 33px;
  color: black;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
  lines:1;
  text-overflow: ellipsis;
}










